* {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: 'Combo', cursive;
  box-sizing: border-box;
}
body {
  background-color: #fffbf6;
  
}
.logo {
  display: inline-block;
}
header {
    
    background:linear-gradient( #c90014 70% , black  );
  width: 100%;
  height: 50%;
  border-radius: 5px;
}

#navegador,
li {
  display: inline-block;
  padding: 1em;
  
}

section {
  color: antiquewhite;
}
a {
  text-decoration: none;
  color: white;
  font-size: 26px;
}

.slider {
  width: 95%;
  margin: auto;
  overflow: hidden;
}

.slider ul {
  display: flex;
  padding: 0;
  width: 400%;
  margin: 20px;

  animation: cambio 20s infinite alternate linear;
}

.slider li {
  width: 100%;
  list-style: none;
}

.slider img {
  width: 100%;
  border: 3px solid rgb(143, 8, 3);
  border-radius: 15%;
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}


#articulos {
  color: rgb(0, 0, 0);
  margin: 2%;
  text-align: center;
  font-size: 20px;
}

.infografia{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.pie-pagina{
  width: 100%;
  background:linear-gradient( black  , #c90014 30% );
}

.pie-pagina .grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

.pie-pagina .grupo-1 .caja figure{

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-pagina .grupo-1 .caja figure img{
  width: 150px;
}

.pie-pagina .grupo-1 .caja  h2{
  color: white;
  margin-bottom: 25px;
  font-size: 20px;
}
.pie-pagina .grupo-1 .caja  p{
  color: white;
  margin-bottom: 10px;
  font-size: 16px;
}

.parrafos p {
  padding: 14px;
}
.parrafos h2 h3{
  margin: 16px;
}

.info {
  
  text-align: center;
}

.pie-pagina .grupo-1 .caja  .red-social a{
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: white;
   margin-right: 10px;  
  
}

.pie-pagina .grupo-2{
  background-color: rgb(0, 0, 0);
  padding: 10px 5px;
  text-align: center;
  color: white;
}
.pie-pagina .grupo-2 small{
  font-size: 12px;
}

@media screen and (max-width:750px){
  .pie-pagina .grupo-1{
      width: 90%;
      grid-template-columns: repeat(1 , 1fr);
      grid-gap: 30px;
      padding: 35px 0px;
  }
  
}
