
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

* {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: 'Didact Gothic', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
  }
    
  @media screen and (max-width:750px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1 , 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
    
  }
  @keyframes cambio {
    0% {
      margin-left: 0;
    }
    20% {
      margin-left: 0;
    }
  
    25% {
      margin-left: -100%;
    }
    45% {
      margin-left: -100%;
    }
  
    50% {
      margin-left: -200%;
    }
    70% {
      margin-left: -200%;
    }
  
    75% {
      margin-left: -300%;
    }
    100% {
      margin-left: -300%;
    }
  }

  body {
    background-color:  #FFFBF6;
    display: flexbox;
    flex-direction: column;
  }

  /*A partir de aca todo corresponde al header*/
  header{
    max-width: 2000px;
    width: 100%;
    height: 50%;
    position: relative;
    display: relative;
    top: 0;
    left: 0;
    background-color:  #c90014;
  }
  .headerSuperior{
    max-width: 2000px;
    width: 100%;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient( #c90014 70% , black )
  
  }
  .logo{
    width: 250px;
  }
  .containerMenu{
    width: 100%;
    height: 80px;
    background: linear-gradient( black 70% , #FFFBF6 );
    padding: 0px 250px;

  }
  menu{
    max-width: 2000px;
    margin: auto;
    height: 100%;
  }
  nav{
    height: 100%;
  }
  /*Elementos del menu*/
  nav > ul{
    height: 100%;
    display: flex;
  }
  nav > ul > li{
    height: 100%;
    list-style: none;
    position: relative;
  }
  nav > ul > li > a{
    width: 100%;
    height: 100%;
    display: flex;
    color: antiquewhite;
    align-items: center;
    padding: 14px 30px;
    font-size: 20px;
    transition: all 300ms ease;
  }
  
  nav > ul > li > a:hover{
    transform: scale(1.1);
    background: #700202;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5) ;
  }
  #selected{
    background-color: #700202;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5) ;
  }
  .submenuProductos{
    width: 200px;
    display: flex;
    flex-direction: column;
    background:  black;
    position: absolute;
    top: 90px;
    left: -5px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
    transition: all 300ms ease;
    
  }
  .submenuProductos > li{
    list-style: none;
  }
  /*Para el triangulo del submenu*/
  .submenuProductos:before{
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid black;
    position: absolute;
    top:-12px;
    left: 20px;
  }
  /* Para la visibilidad del submenu*/
  nav ul li:hover ul{
    visibility: visible;
    opacity: 1;
    top:80px;
  }
  .submenuProductos > li > a{
    color: antiquewhite;
    display: block;
    padding: 6px;
    font-size: 14px;
    padding-left: 14 px;
    margin-top: 10px;
    transition: all 300ms ease;
  }
  .submenuProductos > li > a:hover{
    background:#700202;
    transform: scale(1.1);
    padding-left: 20px;
    font-size: 14px ;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5) ;

  }

  #articulos {
    color: antiquewhite;
    margin: 2%;
    text-align: center;
  }
  
  /*Footer*/
  
  .pie-pagina{
    width: 100%;
  }
  
  .pie-pagina .grupo-1{
    width: 100%;
    max-width: 2000px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    padding: 45px 0px;
    background: linear-gradient( #c90014 90% ,black  )
  }
  
  .pie-pagina .grupo-1 .caja figure{
  
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pie-pagina .grupo-1 .caja figure img{
    width: 150px;
  }
  
  .pie-pagina .grupo-1 .caja  h2{
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
  }
  .pie-pagina .grupo-1 .caja  p{
    color: white;
    margin-bottom: 10px;
  }
  
  .pie-pagina .grupo-1 .caja  .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
     margin-right: 10px;  
    
  }
  
  .pie-pagina .grupo-2{
    background-color: rgb(0, 0, 0);
    padding: 15px 10px;
    text-align: center;
    color: white;
    
  }
  .pie-pagina .grupo-2 small{
    font-size: 12px;
  }


/* Productos */
.titulo{
  padding-left: 50px;
}
.box_img{
  display: grid;
  gap: 50px 50px;
  padding-left: 100px;
  padding-top: 50px;
}
#box_img_ofertas{
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 300px;

}
#box_img_pizzas{
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 300px 300px 300px;
}
.box_img_item > h4{
  text-align: center;
}
.box_img_item > img{
  width: 300px;
  height: 250px;
}
#box_img_bebidas > div > img{
  width: 200px;
  height: 225px;
}
#box_img_bebidas{
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 250px 250px;
  gap: 50px 60px;
  padding-left: 100px;
}